#banner {
  padding: 112px 60px;
  background: rgb(72, 77, 89);
  background: linear-gradient(
    180deg,
    rgba(72, 77, 89, 1) 0%,
    rgba(60, 67, 82, 1) 35%,
    rgba(42, 50, 66, 1) 100%
  );
  display: flex;
  flex-direction: column;
}

#banner h2 {
  color: white;
  padding-bottom: 14px;
  font-size: 2.2rem;
  font-weight: normal;
  border-bottom: solid 2px rgba(255, 255, 255, 0.125);
  text-transform: uppercase;
  letter-spacing: 3px;
}
#banner h2 b {
  color: white;
}
#banner h3 {
  color: white;
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-weight: normal;
}
#banner p {
  padding: 14px 0;
  color: rgb(164, 168, 175);
  text-transform: uppercase;
  letter-spacing: 2px;
}
